body{
    background-color: rgb(40, 40, 80)
}

.box{
    border:2px solid white;
    height:500px;
    box-shadow: 0 0 15px white ;
}
.chat{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    background-color: white;
    box-shadow: 0 0 40px grey;
    width: 40%;
    height:60%;
}